.Rproj.user
.Rhistory
.RData
.Ruserdata
sauvegarde/*
code/old/*
rmd/rkenyacensus/images/*
rmd/rkenyacensus/rsconnect/*
rmd/rkenyacensus/kenyacensus.html
rmd/*
rsconnect/*
README_files/*
README.html
output/*
